defaultState: {}

dateFormat: ll

overlays:
  - id: borders
    type: leaflet-geowiki
    enabled: true
    data: borders.osm.json
    styleFile: borders.yaml
    filter: |
      {% if state.date %}
      {% set q = state.date|slice(0, 10)|osmDateQuery({ op: '<=', strict: true }) %}
      relation[start_date~"{{ q }}"][end_date!~"{{ q }}"]
      {% endif %}

layers:
- type: TimelineJSON
  source:
    url: /info.json
    filterId: |-
      {{ state.id }}
    filter: |-
      {{ state.id != null and state.id != '' ? item.id == state.id : true }}

  feature:
#    init: |
#      {% set object = item.object|json_decode[0] %}
#      {{ setFlag('related', object.related ? object.related|split(',') : []) }}
    type: function
    logFunction: |
      {{ item.kartendaten|default('[]') }}
    geomType: wkt
    geomLogField: koordinaten
    endLogField: ende
    startField: |-
      {{ item.Start }}
    endField: |-
      {{ item.Ende }}
    nodeFeature: marker
    markerSymbol: |
      {{ markerPointer({}) }}
    markerSign: |
      {% if item.type == 'person' %}
      <i class="fa-solid fa-user"></i>
      {% elseif item.type == 'rundweg' %}
      <i class="fa-solid fa-route"></i>
      {% elseif item.type == 'treffpunkt' %}
      <i class="fa-solid fa-location-dot"></i>
      {% elseif item.type == 'ereignis' %}
      <i class="fa-solid fa-bolt"></i>
      {% endif %}
    styleTemplate: |-
      { "color": "black", "weight": "3" }
    popupTemplate: Loading ...
    popupSource:
      url: |-
        /popup/{{ item.id }}
      querySelector: .view-node-info .layout

- type: TimelineTimestamps
  source:
    url: '11.json'

  feature:
    type: start-end-field
    startField: |-
      {{ item.field_start }}
    endField: |-
      {{ item.field_ende }}
    contentField: |-
      {{ item.nothing }}
    typeField: box
#background
