defaultState: {}
addParam:
- id

dateFormat: ll

overlays:
  - id: borders
    type: leaflet-geowiki
    enabled: true
    data: borders.osm.json
    styleFile: borders.yaml
    filter: |
      {% if state.date %}
      {% set q = state.date|slice(0, 10)|osmDateQuery({ op: '<=', strict: true }) %}
      relation[start_date~"{{ q }}"][end_date!~"{{ q }}"]
      {% endif %}

timeline:
  defaultMin: 1848
  defaultMax: 1910
  options:
    zoomMin: 864000000

layers:
- type: TimelineJSON
  source:
    url: /info.json
    filterId: |-
      {{ state.id }}
#    filter: |-
#      {{ state.id != null and state.id != '' ? item.id == state.id : true }}

  feature:
#    init: |
#      {% set object = item.object|json_decode[0] %}
#      {{ setFlag('related', object.related ? object.related|split(',') : []) }}
    type: function
    initialMapView: |
      {{ state.id != null and state.id != '' ? item.id == state.id : true }}
    considerTimelineTimespan: |
      {{ state.id != null and state.id != '' ? item.id == state.id : true }}
    logFunction: |
      {{ item.kartendaten|default('[]') }}
    geomType: wkt
    geomLogField: koordinaten
    endLogField: ende
    startField: |-
      {{ item.start }}
    endField: |-
      {{ item.ende }}
    nodeFeature: marker
    markerSymbol: |
      {{ markerPointer({"fillColor": state.id == item.id ? '#ff0000' : '#ffffff' }) }}
    timeline:
      show: |-
        {{ item.type == 'ereignis' }}
      type: 'box'
      selectable: true
      content: |-
        {{ item.title }}
    markerSign: |
      {% if item.type == 'person' %}
      <i class="fa-solid fa-user"></i>
      {% elseif item.type == 'rundweg' %}
      <i class="fa-solid fa-route"></i>
      {% elseif item.type == 'treffpunkt' %}
      <i class="fa-solid fa-location-dot"></i>
      {% elseif item.type == 'ereignis' %}
      <i class="fa-solid fa-bolt"></i>
      {% endif %}
    styleTemplate: |-
      { "color": "black", "weight": "3" }
    popupTemplate: Loading ...
    popupSource:
      url: |-
        /popup/{{ item.id }}
      querySelector: .view-node-info .layout

