defaultState:
  id: null
  path: /

app:
  name: Geschichte des Anarchismus
  url: https://karte.a-bibliothek.org/

map:
  defaultView:
    minlon: 10.064
    minlat: 43.488
    maxlon: 22.416
    maxlat: 49.496

panes:
  selected:
    zIndex: 605
  related:
    zIndex: 604

sidebar:
  show: |-
    {{ state.embed != "true" }}
  source:
    url: |-
      {% if state.id %}
      /sidebar/{{ state.id }}
      {% elseif state.path matches '/^\/personen(\?.*|\/[a-z]|)$/' %}
      {{ state.path|replace({ '/personen': '/personen-map' }) }}
      {% elseif state.path and state.path != '/' %}
      {{ state.path }}
      {% else %}
      /node/110
      {% endif %}
    querySelector: |-
      #content .region

addParam:
- id:
    includeNull: true
- path:
    includeNull: true

dateFormat: ll

overlays:
  - id: borders
    type: leaflet-geowiki
    enabled: true
    data: borders.osm.json
    styleFile: borders.yaml
    filter: |
      {% if state.date %}
      {% set q = state.date|slice(0, 10)|osmDateQuery({ op: '<=', strict: true }) %}
      relation[start_date~"{{ q }}"][end_date!~"{{ q }}"]
      {% endif %}

timeline:
  defaultMin: 1848
  defaultMax: 1910
  options:
    min: 1700-01-01
    max: 2050-12-31
    zoomMin: 864000000
    cluster:
      titleTemplate: '{count} Ereignisse'

layers:
- type: TimelineJSON
  source:
    url: /info.json
    filterId: |-
      {{ state.id }}
#    filter: |-
#      {{ state.id != null and state.id != '' ? item.id == state.id : true }}

  feature:
    init: |
      {% if item.id == state.id %}
      {{ setFlag('related', item.related ? item.related|split(',') : []) }}
      {% endif %}
    type: function
    initialMapView: |
      {% if state.id == null or state.id == '' %}true
      {% elseif item.id == state.id %}true
      {% elseif item.id in (getFlag('related')|default([])) %}true
      {% else %}false
      {% endif %}
    considerTimelineTimespan: |
      {{ state.id != null and state.id != '' ? item.id == state.id : true }}
    logFunction: |
      {{ item.kartendaten|default('[]') }}
    geomType: wkt
    geomLogField: koordinaten
    endLogField: ende
    startField: |-
      {{ item.start }}
    endField: |-
      {{ item.ende }}
    nodeFeature: marker
    markerSymbol: |
      {% set related = getFlag('related')|default([]) %}
      {% set color = state.id == item.id ? '#ff0000' : (item.id in related ? '#ffff00' : '#ffffff') %}
      {{ markerPointer({"fillColor": color }) }}
    timeline:
      show: |-
        {{ item.type == 'ereignis' or state.id == item.id }}
      type: |-
        {% if state.id == item.id %}
        background
        {% else %}
        box
        {% endif %}
      selectable: true
      content: |-
        {{ item.title }}
    markerSign: |
      {% if item.type == 'person' %}
      <i class="fa-solid fa-user"></i>
      {% elseif item.type == 'rundweg' %}
      <i class="fa-solid fa-route"></i>
      {% elseif item.type == 'treffpunkt' %}
      <i class="fa-solid fa-location-dot"></i>
      {% elseif item.type == 'ereignis' %}
      <i class="fa-solid fa-bolt"></i>
      {% elseif item.type == 'gruppierung' %}
      <i class="fa-solid fa-users"></i>
      {% elseif item.type == 'verlag' %}
      <i class="fa-solid fa-print"></i>
      {% elseif item.type == 'zeitung' %}
      <i class="fa-solid fa-newspaper"></i>
      {% elseif item.type == 'ort' %}
      <i class="fa-solid fa-city"></i>
      {% endif %}
    markerOptions: |-
      { "pane": "{{ state.id == item.id ? 'selected' : (item.id in (getFlag('related')|default([])) ? 'related' : 'markerPane') }}" }
    styleTemplate: |-
      { "color": "black", "weight": "3" }
    popupTemplate: Loading ...
    popupSource:
      url: |-
        /popup/{{ item.id }}
      querySelector: .view-node-info .layout
      modifier:
      - query: .header .field--name-bundle-fieldnode
        action: append
        content: |-
          <div class="actions">
            {% if item.id != state.id %}
            <a href="#id={{ item.id }}&amp;map=auto" title="Zeige Beschreibung in Sidebar"><i class="fa-solid fa-circle-info"></i></a>
            {% else %}
            <i class="fa-solid fa-circle-info" title="Beschreibung wird in Sidebar angezeigt"></i>
            {% endif %}
          </div>
