.leaflet-popup-content-wrapper {
  overflow-y: auto;
  padding: 0 0;
  max-height: 350px;
}
.leaflet-popup-content {
  margin: 0 0;
  padding-bottom: 1em;
}
.leaflet-popup-content .header {
  border-bottom: 1px solid black;
  background: #efefef;
}
.leaflet-popup-content .header,
.leaflet-popup-content .content {
  padding: 0.5em 1em;
}
.leaflet-popup-content h1 {
  margin: 0.125em 0;
  font-size: 1.25em;
}
.leaflet-popup-content .header .field--name-field-bild {
  float: right;
}
.leaflet-popup-content .header .field--name-field-bild img {
  max-height: 4em;
  object-fit: contain;
}
.leaflet-popup-content .header::after {
  content: '';
  clear: both;
  display: table;
}

.field__label {
  font-weight: bold;
}
.field--label-above > .field__items > .field__item {
  margin-bottom: 0.25em;
}
.field--label-inline {
  display: flex;
  flex-direction: row;
}
.field--label-inline > .field__label {
  /* min-width: 25%; */
}
.field--label-inline > .field__label:after {
  content: ': ';
  margin-right: 0.25em;
}

.field__item .item-list > ul {
  padding-left: 20px;
  margin: 0 0;
}
details {
  border: 1px solid grey;
  border-radius: 5px;
  padding: 0 1em;
}
div.horizontal-tabs > ul {
  border-bottom: 1px solid black;
  padding: 0 0;
  margin: 0 0;
}
div.horizontal-tabs > ul > li {
  display: inline-block;
  margin-bottom: -1px;
  list-style: none;
  padding: 2px 1em;
  border-right: 1px solid black;
}
div.horizontal-tabs > ul > li.active {
  border-bottom: 1px solid white;
  background: white;
}
div.horizontal-tabs > div[data-horizontal-tabs-panes] > details {
  display: none;
  border: none;
  border-radius: 0;
}
div.horizontal-tabs > div[data-horizontal-tabs-panes] > details[open] {
  display: block;
}
div.horizontal-tabs > div[data-horizontal-tabs-panes] > details > summary {
  display: none;
}
